<div class="popup-overlay" (click)="close.emit(false)">
    <div class="popup-content" (click)="$event.stopPropagation()"> 
        <form #form="ngForm" (ngSubmit)="!isNewDocument ? openDocument(form.value) : openDocument({ documentId: documentId })">
            <ng-container *ngIf="!isNewDocument; else elseBlock"> <!-- Check if documentId is available -->
                <h2>Login with Existing Document Id</h2>
                <label for="documentId">Enter Document Id: </label>
                <input type="text" id="documentId" name="documentId" [(ngModel)]="documentId">
                <button type="submit" class="open-button">Open</button>
            </ng-container>
            <ng-template #elseBlock>
                <h2>Continue With New Document Id</h2>
                <label for="documentId">Document Id: </label>
                {{ documentId }} <!-- Display the documentId -->
                <button type="submit" class="open-button">Open</button>
            </ng-template>
        </form>
    </div>
</div>